@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
  font-weight:normal;
}

html, body {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: Raleway;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #333;
  background-color: #FDFDFD;
}

.wrapper{
  padding: 1.4375rem;
}

.main{

  /*transition: opacity 0.875s ease 0.5s, transform 0.875s ease 0.5s;*/

  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;

  max-width: 44.5rem;
  background-color: #fcfcfc;
  border-radius: 0.375rem;
  border: 1px solid #EFEFEF;
  cursor: default;
}