@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
  font-weight:normal;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  font-family: Raleway;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #333;
  background-color: #FDFDFD;
  /*background-color: #1D1D2D;*/
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #9e9e9e;
  text-decoration: none;
}

hr {
  border: none;
  height: 1px;
  color: #EFEFEF;
  background-color: #EFEFEF;
  margin: 0;
}

.wrapper {
  padding: 1.4375rem;
}

.main {

  transition: opacity 0.875s ease 0.5s, transform 0.875s ease 0.5s;

  margin: 0 auto 0 auto;
  padding: 0;

  max-width: 40rem;
  background-color: #fcfcfc;
  border-radius: 0.375rem;
  border: 1px solid #EFEFEF;
  cursor: default;
}

@media(max-width: 40rem) {
  .main{width: calc(100%)}
}

/* Header
================== */

.header {
  overflow: hidden;
  margin: 0;
  padding: 2.875rem 0 0 0;
  background-color: #f9f9f9;
}

.header_title {
  font-size: 3.25rem;
  font-weight: normal;
  text-align: center;
  margin: 0 0 1.25rem 0;
  letter-spacing: 0.125rem;
}

/* Footer
================== */

.footer {
  overflow: hidden;
  padding: 0 0 1.25rem 0;
  text-align: center;
  background-color: #f9f9f9;
}

.footer_content {
  margin: 1.25rem 0 0 0;
}

.footer_icon_con {
  float: left;
  margin-left: 1.25rem;
  margin-top: -0.25rem;
  height: 1rem;
}

.footer_text {
  float: left;
  margin: 0 auto;
  text-align: center;
  margin-left: 1.25rem;
  height: 1rem;
  line-height: 1rem;
}

.footer_text_r {
  float: right;
  margin: 0 auto;
  text-align: center;
  margin-right: 1.25rem;
  height: 1rem;
  line-height: 1rem;
}

.footer_icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Content
================== */

.content {
  padding: 0 2.25rem;
}

@media(max-width: 40rem) {
  .content{padding: 0 1.25rem;}
}

.paragraph {
  margin: 1.25rem 0;
  font-size: 1rem;
  line-height: 1.625rem;
}

.content_block {
  margin: 1.25rem 0;
}

.content hr {
  margin: 0 -2.25rem;
}

@media(max-width: 40rem) {
  .content hr{margin: 0 -1.25rem;}
}

.title{
  margin: 0.375rem 0;
  text-align: center;
  font-size: 1.375rem;
  letter-spacing: 0.125rem;
}