.stub_container {
  margin: 2rem auto;
  width: 100%;
  text-align: center;
}

.stub {
  transition: all ease-in-out 0.4s;
  overflow: hidden;
  margin: 1.3125rem 1.3125rem;
  padding: 0;
  width: 15rem;
  height: 7.5rem;
  background-color: #f9f9f9;
  border: solid #EFEFEF 1px;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
}

.stub_date {
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.stub_title {
  font-size: 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  left: 0.5rem;
}

.stub_desc {
  color: #828282;
  position: absolute;
  bottom: 0.375rem;
  left: 0.5rem;
}